@import '../../css/Var';

.details-view {
    background-color: #ffffff;
    border-top: 10px solid #000000;
    box-shadow: 2px 2px 10px 0px #363636;
    width: 322px;
    padding: 20px;
    position: fixed;
    left: 50%;
    bottom: 0px;
    z-index: 20;
    transform: translateX(-30%);
}

.details-view-close {
    font-size: 32px;
    line-height: 0.8;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 22;
    cursor: pointer;    
}